.toggleTheme {
    width:10%;
    border: 0;
}

.toggleTheme{
    display: flex;
    cursor: pointer;
    width:30px;
    height:30px;
    align-items:center;
    justify-content:center;
    background:#835afd;
    margin-left: 0.5rem;
    padding: 0.5rem;
}